.home-overlay {
    
	 height: 100%;
 	 width: 100%;
   	 background-color: rgba(44, 62, 80, 0.3);
   	 background-repeat: repeat;
  
}

.intro {
	position: absolute;
	width: 100%;
	top: 40%;
	text-align: center;
	
}

body {                                
        overflow: hidden;
  
        width:100%;
        height:100%;
        background: url("https://acg.toubiec.cn/random.php") no-repeat;
        background-size:cover;
        position: fixed;

}            